body{
  font-size: 25px;
  font-family: Helvetica;
  text-align: center;
}
h1{
  font-family: Courier;
  color: Black;
  font-weight: lighter;
  font-size: 60px;
}
h2 {
  font-family: Courier;
  color: Orange;
  font-weight: Ultralighter;
  font-size: 40px;
}
a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
a:hover {
  text-decoration: none;
  color: black;
  border: 3px solid white;
  background-color: white; 
  padding: 8px;
  border-radius: 50px;
}

#banner{
  text-align: center;
  background-image: url("images/back.png");
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px rgb(50, 50, 50);
  border-radius:60px;
}

#banner h1 {
  color: white;
  font-size: 50px;
}
#banner p {
  color: White;
  opacity: 0.8;
  font-size: 25px;
  font-weight: lighter;
}
#footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}
#footer a:hover {
  color: white;
}
}
.card{
  padding: 50px;
  font-weight: lighter;
}